[submodule "Foundry/SimpleStorageFDRY/lib/forge-std"]
	path = Foundry/SimpleStorageFDRY/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry/FundMeFDRY/lib/chainlink-brownie-contracts"]
	path = Foundry/FundMeFDRY/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Foundry/FundMeFDRY/lib/foundry-devops"]
	path = Foundry/FundMeFDRY/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Foundry/FundMeFDRY/lib/forge-std"]
	path = Foundry/FundMeFDRY/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry/SmartContractLottery/lib/forge-std"]
	path = Foundry/SmartContractLottery/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
